body,html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgba(162, 78, 78, 0.666)
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
}
.input {
  margin: auto;
}
.wechat-page {
  display: none;
}
.desktop-page {
  display: none;
}